.product-card {
    border: 1px solid #dbd8d8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  

  
    &__content {
      padding: 1rem;
      text-align: center;
      
      &-name {
        font-size: 1.4rem;
        margin: 0.5rem 0;
      }
      &-price {
        font-size: 1.2rem;
        font-weight: 600;
        color: #555;
      }

      &-btn-cart{
        background-color: #703535;
        color: white;
        padding: 0.5rem 3rem;
        border: 1px solid rgb(195, 192, 192);
        border-radius: 30px;
        cursor: pointer;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 600;
        font-size: 14px;
      }
    }




    &:hover {
      transform: scale(1.05);
    }

    &__image {
      width: 350px;
      height: 420px;
      object-fit: cover;
    }
  }
  
