.product-card {
    border: 1px solid #dbd8d8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  

  
    &__content {
      padding: 1rem;
      text-align: center;
      

    }
    &__name {
      font-size: 1.4rem;
      margin: 0.5rem 0;
    }

    &__price {
      font-size: 1.2rem;
      font-weight: 600;
      color: #555;

    }
    &:hover {
      transform: scale(1.05);
    }

    &__image {
      width: 350px;
      height: 420px;
      object-fit: cover;
    }
  }
  
